html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  display: block;
  margin: auto;
  color: #333;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-weight: 700;
  margin: 0 0 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.1px;
  margin: 0 0 25px;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
div {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  p {
    font-size: 15px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  color: #468fff;
}

a:hover {
  text-decoration: none;
}

/* Navigation */

#mainNav {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #333;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 7px 11px;
  color: #fff;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#mainNav .navbar-toggler:hover,
#mainNav a:hover {
  opacity: 0.7;
}

#mainNav .navbar-toggler:focus {
  outline: 0;
}

#mainNav .navbar-brand,
#mainNav a {
  color: #fff;
}

@media (min-width: 992px) {
  #mainNav .navbar-brand,
  #mainNav a {
    color: #468fff;
  }
}

#mainNav i {
  font-size: 26px;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out,
      padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out,
      padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out,
      padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #333;
  }

  #mainNav.navbar-shrink .navbar-brand,
  #mainNav.navbar-shrink a {
    color: #fff;
  }

  #mainNav .nav-link.active {
    outline: 0;
    color: #468fff;
    opacity: 1;
  }

  #mainNav .nav-link.active:hover {
    opacity: 0.7;
  }
}

/* Hero Jagged SVG */

.masthead-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.masthead-container svg {
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: transparent;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

@media (min-width: 768px) {
  .masthead-container svg {
    height: 200px;
  }
}

@media (min-width: 992px) {
  .masthead-container svg {
    height: 400px;
  }
}

@media (max-width: 765px) {
  .svg--lg {
    display: none;
  }
}

@media (min-width: 768px) {
  .svg--sm {
    display: none;
  }
}

/* Hero */

.masthead {
  height: 100%;
  width: 100%;
  text-align: center;
  color: #333;
  background-image: linear-gradient(transparent 60%, rgba(0,0,0,.15)), url("../img/paper-seamless.png");
  background-position: center;
  position: fixed;
  z-index: 5;
}

.masthead .intro-body {
  height: 100%;
  display: flex;
  align-items: center;
}

.brand-heading-container {
  position: relative;
  display: inline-block;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
  font-family: "Caveat", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: lighter;
}

.masthead .intro-body .intro-text {
  font-size: 26px;
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

@media (min-width: 768px) {
  .masthead {
    padding: 0;
    margin-bottom: -80px;
  }
  .masthead .intro-body .brand-heading {
    font-size: 80px;
    white-space: nowrap;
  }
  .masthead .intro-body .intro-text {
    font-size: 38px;
  }
}

@media (min-width: 1080px) {
  .masthead .intro-body .brand-heading {
    font-size: 100px;
  }
  .masthead .intro-body .intro-text {
    font-size: 48px;
  }
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* Content Sections */

.content-section {
  padding-top: 40px;
  padding-bottom: 20px;
  transition: 0.3s ease;
}

@media (min-width: 768px) {
  .content-section {
    padding-top: 80px;
  }
}

.content-section-icon {
  font-size: 75px;
  margin-bottom: 20px;
}

.about-section {
  background: #cae2ff;
  position: relative;
  z-index: 15;
  width: 100%;
}

.about-section:after {
  background: inherit;
  bottom: 0;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3deg);
  transform-origin: 100%;
  z-index: -1;
}

#about-content-flex {
  max-width: 960px;
  display: block;
  margin: auto;
}

.profile-photo {
  width: 70%;
  display: block;
  margin: 0 auto 50px;
  border-radius: 50%;
  max-width: 300px;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
  .profile-photo {
    margin-bottom: 0;
  }
}

.about-section h2 {
  margin: 0;
  color: #468fff;
  font-family: "Caveat", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 1px;
  text-transform: none;
}

.about-header {
  margin-bottom: 20px;
}

.about-section a {
  margin-right: 20px;
}

.resume-button-container {
  position: relative;
}

.about-section i {
  padding-right: 5px;
}

.projects-section {
  color: #333;
  background: #fcfcfc;
  position: relative;
  padding-bottom: 30px;
  z-index: 10;
}

.projects-section:after {
  background: inherit;
  bottom: 0;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3deg);
  transform-origin: 100%;
  z-index: -1;
}

.projects-header {
  margin: 30px 0;
}

.projects-section img {
  width: 70%;
  display: block;
  margin: 0 auto 25px;
}

.projects-section h1 {
  margin-left: 15px;
  letter-spacing: 4px;
}

.projects-section i {
  font-size: 2.5rem;
  margin-left: 15px;
}

.projects-section a {
  margin-bottom: 25px;
}

.projects-section h3 {
  font-family: "Caveat", Helvetica, Arial, sans-serif;
  font-size: 30px;
  letter-spacing: 0.5px;
  text-transform: none;
  font-weight: lighter;
  color: #333;
}

.btn {
  font-family: "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.btn-default {
  color: #fff;
  border-radius: 3px;
  padding: 0 10px;
  margin: 0 2px;
  background-color: #468fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.btn-default:hover {
  color: #468fff;
  background-color: transparent;
}

.contact-section {
  background-color: #333;
  background: linear-gradient(177deg, #444, #333);
  color: #fff;
}

.contact-section h2 {
  font-family: "Caveat", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 1px;
  text-transform: none;
}

.contact-section .fa-paper-plane {
  font-size: 40px;
  transform: rotate(25deg);
}

ul.banner-social-buttons {
  margin-top: 0;
}

ul.banner-social-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #468fff;
  color: #fff;
  border-radius: 50%;
  font-size: 26px;
  padding: 0;
  width: 50px;
  height: 50px;
}

footer {
  padding: 20px 0;
}

footer p {
  font-size: 12px;
  margin: 0;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

/* Doodle art for large viewport */

#chart-doodle,
#light-bulb-doodle,
#arrow-doodle,
#laptop-doodle,
#pencil-doodle {
  display: none;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

#chart-doodle {
  right: -500px;
  top: -150px;
  height: 300px;
  width: 400px;
}

#light-bulb-doodle {
  left: -350px;
  top: -25px;
  height: 400px;
  width: 200px;
}

#arrow-doodle {
  right: -165px;
  top: -11px;
  transform: scaleX(-1);
  height: 150px;
  width: 200px;
}

#laptop-doodle {
  left: -50px;
  top: 100px;
  transform: scaleX(-1) rotate(16deg);
  height: 350px;
  width: 350px;
}

#pencil-doodle {
  right: 50px;
  bottom: -150px;
  transform: rotate(24deg);
  height: 300px;
  width: 300px;
}

@media (min-width: 1200px) {
  #chart-doodle,
  #light-bulb-doodle,
  #arrow-doodle,
  #laptop-doodle,
  #pencil-doodle {
    display: block;
  }
}

@media (min-width: 1280px) {
  #chart-doodle,
  #light-bulb-doodle,
  #arrow-doodle,
  #laptop-doodle,
  #pencil-doodle {
    opacity: 1;
  }
}
