body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: relative;
  width: 100%;
  height: 100%;
  color: #3c3c3c;
  background-color: white;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 25px;
  transition: all .3s ease-in-out;
}

@media (min-width: 768px) {
  p {
    font-size: 15px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #468de5;
}

a:hover {
  text-decoration: none;
  opacity: .7;
}

#mainNav {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #3c3c3c;
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 7px 11px;
  color: white;
  border: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#mainNav .navbar-toggler:hover {
  opacity: .7;
}

#mainNav .navbar-toggler:focus {
  outline: 0;
}

#mainNav .navbar-brand {
  font-weight: 700;
  color: white;
}

#mainNav a {
  color: white;
}

#mainNav a:hover {
  opacity: .7;
}

#mainNav i {
  font-size: 26px;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #3c3c3c;
  }
  #mainNav .nav-link.active {
    outline: 0;
    color: #468de5;
    opacity: 1;
  }
  #mainNav .nav-link.active:hover {
  opacity: .7;
  }
}

.shadow {
	-webkit-box-shadow: 0 10px 6px -6px #000;
	   -moz-box-shadow: 0 10px 6px -6px #000;
	        box-shadow: 0 10px 6px -6px #000;
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: #468de5;
  position: relative;
  z-index: 20;
}

.masthead:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(3deg);
  transform-origin: 0;
  z-index: -1;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.masthead .intro-body .intro-text {
  font-size: 26px;
  font-family: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 80px;
    white-space: nowrap;
  }
  .masthead .intro-body .intro-text {
    font-size: 38px;
  }

  @media (min-width: 1080px) {
    .masthead .intro-body .brand-heading {
      font-size: 90px;
    }
    .masthead .intro-body .intro-text {
      font-size: 48px;
    }
  }
}

.btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-circle {
  font-size: 26px;
  width: 55px;
  height: 55px;
  margin-top: 15px;
  line-height: 45px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 50% !important;
  background: transparent;
}

.btn-circle i {
  color: white;
}

.btn-circle i:hover {
  opacity: 1;
}

.btn-circle:hover {
  background: rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.content-section {
  padding-top: 40px;
  padding-bottom: 20px;
  transition: .3s ease;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 80px;
  }
}

.content-section-icon {
  font-size:75px;
  margin-bottom: 25px;
}

.about-section {
  background: #fff;
  position: relative;
  z-index: 10;
  width: 100%;
}

.about-section:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3deg);
  transform-origin: 100%;
  z-index: -1;
}

#about-flex {
  max-width: 960px;
  display: block;
  margin: auto;
}

.about-section img {
  width: 70%;
  display: block;
  margin: 0 auto 50px;
  border-radius: 50%;
  max-width: 378px;
  transition: all .3s ease-in-out;
}

@media (min-width: 992px) {
  .about-section img {
    margin-bottom: 0;
  }
}

.about-section i {
  padding-right: 5px;
}

#about:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3deg);
  transform-origin: 100%;
  z-index: -1;
}

.projects-section {
  color: #3c3c3c;
  background-color: #F1F1F2;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  padding-bottom: 0;
  z-index: 1;
}

.projects-section:after {
  background: inherit;
  bottom: 0;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(-3deg);
  transform-origin: 100%;
  z-index: -1;
}

.projects-section img {
  width: 70%;
  display: block;
  margin: 0 auto 25px;
}

.projects-section a {
  margin-bottom: 25px;
}

.projects-section h3 {
  font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #468de5;
}

.btn {
  font-family: 'Open Sans Condensed', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: #468de5;
  border: 1px solid #468de5;
  border-radius: 3px;
  background-color: transparent;
}

.btn-default:hover {
  color: white;
  border: 1px solid #468de5;
  background-color: #468de5;
}

ul.banner-social-buttons {
  margin-top: 0;
}

footer {
  padding: 0 0 50px;
}

footer p {
  font-size: 14px;
  margin: 0;
}
